.about-me-container {
  overflow: auto;
}

.about-me-portrait {
  margin: 0 20px 10px 0;
  width: 25vw;
  max-width: 300px;
  border-radius: 50%;
  float: left;
}

.about-me-text b {
  color: var(--main-color);
}
