<nav>
    <div class="nav-button-container" onclick="location.href='index.html';">
      <img class="nav-button-icon" src="pics/icons/icon-home.svg" alt="" />
      <div class="tooltip">Hauptseite</div>
    </div>
    <div class="separator"></div>
    <div class="nav-button-container" onclick="location.href='index.html';">
      <img class="nav-button-icon" src="pics/icons/icon-about-me.svg" alt="" />
      <div class="tooltip">Über mich</div>
    </div>
    <div class="separator"></div>
    <div class="nav-button-container" onclick="location.href='index.html';">
      <img class="nav-button-icon" src="pics/icons/icon-contact.svg" alt="" />
      <div class="tooltip">Kontakt</div>
    </div>
  </nav>