header {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  align-items: center;
  height: 70px;
  padding: 0 3vw;
  font-size: clamp(8px, 1.5vw, 12px);
  background-color: #0b0070;
  box-shadow: var(--decent-box-shadow);
}

.header-container-left {
  grid-column: 1;
}

header .cs-code-logo {
  width: 45px;
  cursor: pointer;
}

.header-container-right {
  font-style: italic;
  text-align: right;
  grid-column: 3;
}
