nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-entry {
  text-align: center;
  --transition-time: 0.4s;
  padding: 5px 5px;
  margin: 0 1.5vw;
  font-size: 1.2rem;
  transition: var(--transition-time);
  font-weight: 600;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.nav-entry:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: var(--transition-time);
  color: var(--main-color);
}
.nav-entry-invalid {
  text-decoration: line-through;
}

@media only screen and (max-width: 1000px) {
  .nav-entry {
    font-size: 0.75rem;
  }
}
