:root {
  --content-area: #191c1f;
  --content-area-light: #22262a;
  --text-color: rgb(255, 255, 255);
  --main-color: #0088aa;
  --header-color: #0b0070;
  --grey-text: rgb(98, 98, 98);
  --decent-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --font-standard: "Rubik", sans-serif;
}

body {
  /* font-family: "Alata"; */
  /* font-family: Roboto, Arial; */
  /* font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: var(--font-standard);
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
  background-color: var(--content-area);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

b {
  color: var(--main-color);
}

button {
  font-family: var(--font-standard);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #333;
  color: var(--text-color);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  padding: 35px 10vw;
  font-size: 1.1rem;
  text-align: justify;
  background-color: var(--content-area);
}

main p {
  line-height: 1.5rem;
}

.bold-link {
  --transition-time: 0.4s;
  transition: var(--transition-time);
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}

.bold-link:hover {
  color: var(--main-color);
  transition: var(--transition-time);
}

.icon-small {
  max-width: 15px;
  padding-right: 2px;
}
