:root {
  --content-area: rgb(255, 255, 255);
  --text-color: black;
  --decent-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --main-color: #0088aa;
}

body {
  font-family: Roboto, Arial;
  /* font-family: "Alata"; */
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
  background-color: var(--main-color);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  padding: 20px 10vw;
  margin: 25px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--content-area);
  text-align: justify;
  box-shadow: var(--decent-box-shadow);
}

.bold-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(76, 76, 76);
}

b {
  color: var(--main-color);
}
