footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
  background-color: var(--content-area);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#impressum {
  padding: 10px;
  text-decoration: none;
  color: rgb(76, 76, 76);
}
