.logo-container {
  height: 100px;
  padding-left: 3vw;
  display: flex;
  align-items: center;
}

.logo-container p {
  font-size: clamp(8px, 1.5vw, 12px);
  font-style: italic;
  padding: 5px 15px 5px 15px;
}
