header {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  align-items: center;
  height: 100px;
  padding: 0 3vw;
  font-size: clamp(8px, 1.5vw, 12px);
  font-style: italic;
}

.header-container-left {
  grid-column: 1;
}

.cs-code-logo {
  width: 10vw;
  max-width: 60px;
}

.header-container-right {
  grid-column: 3;
}
