main {
  padding: 20px 10vw;
  border-radius: 5px;
  background-color: var(--content-area);
  text-align: justify;
}
.csc-logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 25vw;
  max-width: 200px;
  border-radius: 50%;
}
