main {
  padding: 20px 10vw;
  margin: 25px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--content-area);
  text-align: justify;
  box-shadow: var(--decent-box-shadow);
}

main .cs-code-logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 25vw;
  max-width: 200px;
}

.main-home-text {
  text-align: center;
}

.main-home-text b {
  color: var(--main-color);
}

.impressum-text,
.kontakt-text {
  text-align: center;
  font-size: smaller;
}

.impressum-text h1,
.kontakt-text h1 {
  margin-top: 0;
}

.about-me-container {
  overflow: auto;
  font-size: clamp(12px, 1.5vw, 16px);
}

.about-me-portrait {
  margin: 0 20px 10px 0;
  width: 25vw;
  max-width: 300px;
  border-radius: 50%;
  float: left;
}

.about-me-text b {
  color: var(--main-color);
}
