main {
  padding: 20px 10vw;
  margin: 25px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--content-area);
  text-align: justify;
  box-shadow: var(--decent-box-shadow);
}

main .cs-code-logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 25vw;
  max-width: 200px;
}

main .main-home-text {
  text-align: center;
}

main .impressum-text {
  text-align: center;
}

main .impressum-text h1 {
  margin-top: 0;
}
